@font-face {
  font-family: 'verdana';
  src: local('../fonts/verdana.ttf') format('truetype');
}

$theme-color: #4269ea;
$background: #f1f3f6;
$button-background: #f7ad22;
$box-background: #fff;
$text-color: #000;
$border-color: #000;
$price-text-color: #808080;
$discount-text-color: #4ab54b;